<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVVP</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue">
        <button v-on:click="submit">提交</button>
        <ul>
            <!-- <li v-for="item in list">{{item}}</li> -->
            <Todo-Item v-bind:content="item"
                       v-for="item in list">
            </Todo-Item>
        </ul>
    </div>
    

    <script>
        //全局组件
        // Vue.component("TodoItem", {
        //     props: ['content'],               //外部传递来的数据
        //     template: "<li>{{content}}</li>"   //定义的模板
        // })
        
        //局部组件
        let TodoItem = {
            props: ['content'],
            template: "<li>{{content}}</li>"
        }

        let app = new Vue({
            el: '#app',
            components: {
                TodoItem: TodoItem
            },
            data: {
                inputValue: '',
                list: []
            },
            methods: {
                submit: function() {
                    this.list.push(this.inputValue);
                    this.inputValue = ''
                }
            }
        })
    </script>
</body>
</html>